name: Build and Analyze

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: v22
      - uses: actions/checkout@v4
      - run: yarn
      - run: yarn build
      - run: yarn format-check
