name: Main

on: [push]

jobs:
  cancel:
    runs-on: ubuntu-latest
    name: Cancel
    timeout-minutes: 4
    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test Step
        uses: ./ # Uses an action in the root directory
        with:
          workflow_id: 479426, 830809, sleep120.yml
          access_token: ${{ github.token }}
